.details{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    
    &__wrapper{
        width: 100%;
        max-width: 80rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: white;
        padding-bottom: 100px;
        &-btn{
            color: white;
            font-size: 1.6rem;
            text-decoration: none;
            padding-bottom: 20px;
            &::before{
                content: '< ';
            }
            &:hover{
                color: yellow;
            }
        }
        &-card{
            width: 100%;
            background-color: #00cccc;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;    
            @media screen and (width > 480px){
                flex-direction: row;
                align-items: center;
                font-size: 1.6rem;
                gap: 40px;
            }
            
            h2{
                line-height: 4rem;
            }

            .card__img{
                width: 100%;
                @media screen and (width > 480px){
                    width: 50%;
                }
            }
            
            
        }

    }
}

