

.list__card{
    background-color: #00cccc;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.4rem;

    &:hover{
        cursor: pointer;
        transform: scale(95%);
        background-color: #ccff66;
        color: #00cccc;
    }

    &-img{
        width: 100%;
    }

    &-wrapper{
        
        display: flex;
        justify-content: space-between;
        padding: 20px;

    }

    
}