.header{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    &__logo{
      width: 30rem;
      @media screen and (width > 768px){
        width: 45rem;
        padding-top: 20px;
      }
      @media screen and (width > 1024px){
        width: 60rem;
        padding-top: 40px;
      }
    }
  }