.main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 40px 60px;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    
    @media screen and (width > 1024px){
      padding: 0px 100px 100px;
      
    }
    .error-text{
      color: #ccff66;
      text-transform: capitalize;
    }
  }