.main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 20px 60px;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    @media screen and (width > 768px){
      padding: 20px 40px 60px;
    }
    @media screen and (width > 1024px){
      padding: 40px 100px 100px;
      font-size: 1.6rem;
    }
    .error-text{
      color: #ccff66;
      text-transform: capitalize;
    }
  }