.notfound{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 10px 20px;
    text-align: center;
    &__img{
        padding-top: 70px;
        width: 100%;
        @media screen and (width > 780px){
            @media screen and (height < 780px){
                padding-top: 0;
                width: 30%;
            }
        }
    }
    &__link{
        text-decoration: none;
        padding-top: 40px;
        padding-bottom: 5px;
        color: #00cccc;;
        &::before{
            content: '< ';
        }
        @media screen and (width > 780px){
            @media screen and (height < 780px){
                padding-top: 0;
            }
        }
        &:hover{
            @media screen and (width > 480px){
                color: #ccff66;
            }
        }
    }
}